@charset "UTF8"

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
    font-family: "Android";
    src: url("fontes/idroid.otf") format('opentype');
    font-weight: normal;
}
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cabeçalho: #006400;
    --menu: #228B22;
    --títulos: #008000;
    --destaque: #32CD32;
    --fundo-site: #B4D567;
    --fundo-suave: #E8F5E9;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Anton", sans-serif;
    --fonte-android: "Android", verdana, helvetica, sans-serif;
}

body {
    background-color: var(--fundo-suave);
}

a.externo::after {
    content: "\00A0\1F517";
}

header {
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.112);
    background-image: linear-gradient(to top, var(--cabeçalho),var(--títulos), var(--destaque));
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 42px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.151);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 32;
    font-weight: normal;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 30px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.151);
}

nav {
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
}

nav > a {
    color: white;
    font-family: var(--fonte-padrao);
    text-decoration: none;
    padding: 10px;
}

nav > a:hover {
    border-radius: 3px;
    color: var(--destaque);
    background-color: var(--títulos);
    text-decoration: underline;
    transition-duration: 0.5s;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.163);
    margin-bottom: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

main h1 { 
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--destaque), transparent);
    text-indent: 10px;

}

main p {
    margin: 15px 0px;
    text-align: justify;
    font-size: 16px;
    text-indent: 30px;
    line-height: 25px;
}

main strong {
    color: var(--títulos);
    font-weight: bold;
}

main a {
    color: var(--cabeçalho);
    text-decoration: none;
    font-weight: bold;
    margin: 2px;
    padding: 3px;
    background-color: var(--destaque);
    border-radius: 2px;
}

main a:hover {
    color: var(--menu);
    text-decoration: underline;
    border-radius: 2px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;

}

div.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

aside {
    background-color: var(--destaque);
    border-radius: 8px;
    padding: 10px;
}

aside > ul {
    list-style-type: "\2714\00A0\00A0";
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: var(--títulos);
    color: white;
    padding: 8px;
    margin: -10px -10px 0px -10px;
    border-radius: 8px 8px 0px 0px;
    text-indent: 10px;
    font-family: var(--fonte-destaque);
}

aside strong {
    color: var(--cabeçalho);
}

aside a:hover {
    background-color: var(--cabeçalho);
    color: var(--destaque);
    border-radius: 2px;
}

footer {
    font-family: var(--fonte-padrao);
    font-size: 12px;
    color: white;
    padding: 2px;
    text-align: center;
    background-color: var(--cabeçalho);
}

footer > a { 
    color: white;
    text-decoration: none;
}

footer > a:hover {
    color: var(--destaque);
    text-decoration: underline;
}